:root {
  --app-header-h: 4rem;
  --ols-map-box-h: 500px;
  --ols-map-box-w: 700px;
  --primary-color: #cd6155;
  --text-primary: var(--primary-color);
  --btn-primary-bg: var(--primary-color);
  --btn-primary-text: #fff;
  --base-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
  --inter-shadow: rgba(0, 0, 0, 0.25) 2px 2px 6px;
  --btn-height: 40px;
  --btn-width: 100px;
  --btn-primary-active-bg: #cd6155;
  --btn-primary-active-text: #ffffff;
}

.app-header {
  height: var(--app-header-h);
  width: 100%;
  padding: 2rem 4rem;
}

.app-body {
  width: 100%;
  height: calc(100vh - var(--app-header-h));
}

/* START:: MAP ::START*/
#map {
  width: 100vw;
  height: calc(100vh - 5rem);
  border-radius: 12px;
  margin: 0.5rem 0 0 0;
}
/* END:: MAP ::END*/

/* START:: UTILITIES ::START*/
.w-fit {
  width: fit-content;
}

.max-w-320px {
  max-width: 320px !important;
}
.max-w-330px {
  max-width: 330px !important;
}
.min-w-330px {
  min-width: 330px !important;
}
.min-h-180px {
  min-height: 180px;
}
.min-h-120px {
  min-height: 120px;
}
.min-w-994px {
  min-width: 994px !important;
}
.bg-color-primary {
  background-color: var(--primary-color);
}
.cursor-pointer {
  cursor: pointer !important;
}
.fs-custom {
  font-size: 0.9rem !important;
}

.z-10000 {
  z-index: 10000;
}
/* END:: UTILITIES ::END*/

/* START:: TEAM MEMBER PICTURE ::START */
.picture-container {
  width: 7rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 999px;
  margin: 0 0.5rem;
}
.picture-container.hashir {
  width: 5rem;
  height: 5rem;
}
.picture-container > .member-pic {
  width: 6rem;
  height: auto;
}
/* END:: TEAM MEMBER PICTURE ::END */

/* LIST */
ul {
  list-style: none;
}

ul li::before {
  content: "•"; /* Custom bullet */
  color: var(--primary-color); /* Change bullet color */
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* CARDS */
.card {
  position: relative;
  height: fit-content;
  min-width: fit-content;
  max-width: 994px;
  box-shadow: var(--base-shadow) !important;
  padding: 10px 20px;
  border: none !important;
  transition: 0.2s all ease;
}
.card:hover {
  box-shadow: var(--inter-shadow) !important;
  transform: scale(1.03);
  cursor: pointer;
}

.card.team {
  width: 430px;
  min-height: 190px;
  max-height: fit-content;
}

.card-header-text {
  color: var(--text-primary);
}

.card-bb-graphic {
  position: absolute;
  top: calc(0% - 19px);
  left: calc(0% - 19px);
  height: 38px;
  width: 38px;
}
.card-circle-graphic {
  position: absolute;
  top: calc(100% - 13px);
  left: calc(100% - 13px);
  height: 25px;
  width: 25px;
}

.container-team-card {
  width: fit-content;
  max-width: 850px;
  height: 300px;
  position: relative;
}

/* TEXT */
.text-color-primary {
  color: var(--text-primary) !important;
}

/* BUTTONS */
.btn {
  height: var(--btn-height);
  min-width: fit-content;
  max-width: var(--btn-width);
  box-shadow: var(--base-shadow);
  border-color: transparent !important;
}

.btn-primary {
  background-color: var(--btn-primary-text) !important;
  color: var(--btn-primary-bg) !important;
}
.btn-primary:hover {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
}
.btn-active,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--btn-primary-bg) !important;
  color: var(--btn-primary-text) !important;
}
.btn-primary.active {
  background-color: var(--btn-primary-active-bg) !important;
  color: var(--btn-primary-active-text) !important;
}

.faq-card {
  perspective: 1000px;
}
.faq-inner {
  width: 100%;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  position: relative;
}
.faq-card:hover .faq-inner {
  transform: rotateY(180deg);
}
.faq-front,
.faq-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.faq-front {
  background: white;
  font-weight: bold;
  color: #d66b5f;
}
.faq-back {
  background: #d66b5f;
  color: white;
  transform: rotateY(180deg);
}
