:root {
  --app-header-h: 4rem;
  --ols-map-box-h: 500px;
  --ols-map-box-w: 700px;
  --primary-color: #cd6155;
  --text-primary: var(--primary-color);
  --btn-primary-bg: var(--primary-color);
  --btn-primary-text: #fff;
  --base-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
  --btn-height: 40px;
  --btn-width: 100px;
}

.app-header {
  height: var(--app-header-h);
  width: 100%;
}

.app-body {
  width: 100%;
  height: calc(100vh - var(--app-header-h));
}

/* UTILITIES */
.w-fit {
  width: fit-content;
}
.max-w-320px {
  max-width: 320px !important;
}
.min-h-180px {
  min-height: 180px;
}
.min-w-994px {
  min-width: 994px !important;
}
.bg-color-primary {
  background-color: var(--primary-color);
}

/* LIST */
ul {
  list-style: none;
}

ul li::before {
  content: "•"; /* Custom bullet */
  color: var(--primary-color); /* Change bullet color */
  font-size: 25px;
  font-weight: bold;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* CARDS */
.card {
  position: relative;
  height: fit-content;
  min-width: fit-content;
  max-width: 994px;
  box-shadow: var(--base-shadow) !important;
  padding: 10px 20px;
  border: none !important;
}
.card-header-text {
  color: var(--text-primary);
}

.card-bb-graphic {
  position: absolute;
  top: calc(0% - 19px);
  left: calc(0% - 19px);
  height: 38px;
  width: 38px;
}
.card-circle-graphic {
  position: absolute;
  top: calc(100% - 13px);
  left: calc(100% - 13px);
  height: 25px;
  width: 25px;
}

/* TEXT */
.text-color-primary {
  color: var(--text-primary) !important;
}

/* BUTTONS */
.btn {
  height: var(--btn-height);
  min-width: var(--btn-width);
  max-width: fit-content;
  box-shadow: var(--base-shadow);
  border-color: transparent !important;
}

.btn-primary {
  background-color: var(--btn-primary-text) !important;
  color: var(--btn-primary-bg) !important;
}
.btn-primary:hover {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-text);
}
.btn-active,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--btn-primary-bg) !important;
  color: var(--btn-primary-text) !important;
}
